{% extends 'layout.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="mt-3">
  <div class="container">
    <h1>Список категорий</h1>
    <div class="row">
      {% for c in categories %}
      <div class="card col-md-3 p-1">
        <img src="{{ c.get_image_path() }}" class="card-img-top" alt="category image">
        <div class="card-body">
          <h5 class="card-title">{{ c.name }}</h5>
          <p class="card-text">{{ c.description }}</p>
          <a href="{{ url_for('testing.category_tests', category_id=c.id) }}" class="btn btn-primary">Перейти</a>
        </div>
      </div>
      {% endfor %}
      <div class="card col-md-3 p-1">
        <div class="card-body">
          <h5 class="card-title">Новая категория</h5>
          <a href="{{ url_for('testing.new_category') }}" class="btn btn-success">Создать</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
