{% extends 'empty_layout.html' %}
{% block content %}
  <form method="POST" action="" class="form-signin">

    {{ form.hidden_tag() }}

    <img
      class="mb-4"
      src="{{ url_for('static', filename='images/placeholder.svg') }}"
      alt=""
      width="72"
      height="72"
    />

    <h1 class="h3 mb-3 font-weight-normal">Вход</h1>

    {{ form.email.label(class="sr-only") }}
    {% if form.email.errors %}
      {{ form.email(class="form-control is-invalid", placeholder="Email") }}
    {% else %}
      {{ form.email(class="form-control", placeholder="Email") }}
    {% endif %}

    {{ form.password.label(class="sr-only") }}
    {% if form.password.errors %}
      {{ form.password(class="form-control is-invalid", placeholder="Пароль") }}
    {% else %}
      {{ form.password(class="form-control", placeholder="Пароль") }}
    {% endif %}

    <div class="checkbox mb-3">
      {{ form.remember() }}
      {{ form.remember.label() }}
    </div>

    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
  </form>
{% endblock content %}
