{% extends 'layout.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="mt-3">
  <div class="container">
    {% if cat %}
    <h1>Тесты в категории {{ cat.name }}</h1>
    {% else %}
    <h1>Список тестов</h1>
    {% endif %}
    {% if tests %}
    <div class="list-group">
      {% for t in tests %}
      <a href="{{ url_for('testing.take_test', test_id=t.id) }}" class="list-group-item list-group-item-action m-1">
        {{ t.name }}
      </a>
      {% endfor %}
    </div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        Здесь пока нет тестов, но можно создать новые <a href="{{ url_for('testing.create_test') }}">здесь</a>!
      </div>
    {% endif %}
  </div>
</main>
{% endblock content %}
