{% extends 'layout.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="mt-3">
  <div class="container">
      <h1>{{ test.name }}</h1>
      <form action="" method="POST">

        {{ form.hidden_tag() }}
        
        {% for q in test.questions %}
        <div class="form-group">
          <label for="{{ q.id }}">{{ q.text }}</label>
          <textarea required class="form-control" name="{{ q.id }}" id="{{ q.id }}"></textarea>
        </div>
        {% endfor %}

        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}

      </form>
  </div>
</main>
{% endblock content %}
